@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100;1,400&display=swap');

.Container {
    width: 100%;
    margin: 72px auto;
    text-align: center;
    padding: 5vw;
    box-sizing: border-box;
}

#header1 {
    
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 7vw;
    margin-top: 10px;
    margin-bottom: 40px;
}

h1#other_h {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 3vw;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 2vw;
}


.social_links {
    margin: 20px;
    height: 4vw;
}

.Social {
    margin-top: 30px;
}

.hover_enlarge:hover {
    height: auto;
    width: 3.5%;
}

.social_icon {
    height: auto;
    width: 3%;
    margin-left: 2px;
    margin-right: 2px;
}



#im {
    font-family: 'Raleway', sans-serif;
    
    text-align: center;
    font-size: 2vw;
    margin-top: 20px;
    margin-bottom: 40px;
}

.title {
    font-family: 'Raleway', sans-serif;
    margin: auto;
}

#desc {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2vw;
}

.proj img#social_icon {
    height: auto;
    width: 2%;
    margin: 2vw;
    padding-bottom: 2vw;
}

body .Contact {
    padding: 2vw;
}

body .stuff-i-use .stuff #social_icon {
    height: auto;
    width: 2vw;
}

body .stuff-i-use {
    padding-bottom: 2vw;
}

body img#pet-food {
    height: auto;
    width: 2vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
}

.body {
    background-color: greenyellow;
    opacity: .8;
}

html {
    scroll-behavior: smooth;
}


