@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100;1,400&display=swap');

.Container {
    width: 100%;
    margin: 72px auto;
    text-align: center;
    padding: 0px 37px;
    box-sizing: border-box;
}

#header1 {
    
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 15vw;
    margin-top: 10px;
    margin-bottom: 40px;
}


#other_h {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 5vw;
    margin-top: 10px;
    margin-bottom: 20px;
}

#im {
    font-family: 'Raleway', sans-serif;
    
    text-align: center;
    font-size: 2vw;
    margin-top: 20px;
    margin-bottom: 40px;
}



body {
    background-color: purple;
}

