@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100;1,400&display=swap');

.Container {
    width: 100%;
    margin: 72px auto;
    text-align: center;
    padding: 0px 37px;
    box-sizing: border-box;
}

#header1 {
    
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 7vw;
    margin-top: 10px;
    margin-bottom: 40px;
}


#other_h {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 3vw;
    margin-top: 10px;
    margin-bottom: 20px;
}


.Social {
    margin-top: 30px;
}

.Social img#social_icon {
    height: auto;
    width: 3%;
    margin-right: 10px;
    margin-left: 10px;
}

#im {
    font-family: 'Raleway', sans-serif;
    
    text-align: center;
    font-size: 2vw;
    margin-top: 20px;
    margin-bottom: 40px;
}

#title {
    font-family: 'Raleway', sans-serif;
}

#desc {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2vw;
}

.proj img#social_icon {
    height: auto;
    width: 2%;
}

body .Contact {
    padding: 40px;
}

body {
    background-color: yellowgreen;
    opacity: .8;
}

